<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>atreb</title>
</head>
<body>
    <h1 id="heading">simple text</h1>
<hr>
    <p class="text idea">simple text</p>
    <p class="text">simple text 2</p>


    <h2 title="hyper text markup language">html</h2>
    <hr>

    <h2 style="color: blueviolet;">css</h2>
    <hr> 

    <h2 contenteditable="true">this content you can change</h2>
    <hr>

    <textarea spellcheck="true" rows="10" cols="45">erunda</textarea>
    <hr>

    <h2 hidden>hiden content</h2>
    <hr>

    <input type="text" placeholder="name" tabindex="1"><br>
    <input type="text" placeholder="password" tabindex="2"><br>
    <input type="button" value="submit" tabindex="3"><br>
<hr>
    <input type="text" placeholder="name" required>
    <hr>

    <h2 dir="rtl">hello world</h2>
    <hr>

    <h2 lang="fr"><q>hello world</q></h2>
    <h2 lang="en"><q>hello world</q></h2>



</body>
</html>