<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>button</title>
</head>
<body>
    <a href="https://www.youtube.com/watch?v=ffcitRgiNDs&ab_channel=AdeleVEVO">Youtube</a>
<br>
    <a href="../dist/text.txt" download>download</a>
    <hr>
<a href="https://www.youtube.com/watch?v=ffcitRgiNDs&ab_channel=AdeleVEVO" target="_blank">youtube</a>
<hr>

<a href="tel:+37525-645-51-54">+375256455154</a><br>
<a href="mailto:test@test.com">mail</a><br>
<hr>

<a href="#bottom">go to bottom</a>
<hr>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eius totam similique possimus distinctio nobis, eos expedita quam optio aspernatur sunt? Atque quaerat repellat vitae deleniti hic laboriosam dolorum cumque.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo laboriosam praesentium possimus mollitia expedita iste velit voluptate dicta inventore molestiae iure, minima culpa ducimus repellendus? Et at repellendus sit perferendis!</p>

<p id="bottom">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit aliquam quos ab laudantium soluta aperiam laboriosam fugit quasi mollitia officiis aspernatur odio magnam quod necessitatibus dignissimos adipisci recusandae, quibusdam temporibus. Culpa fugit sint eaque fugiat!</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque corporis expedita earum maxime, cum praesentium incidunt ipsam dolorem deserunt commodi? Officia, voluptas magni consequatur similique unde aspernatur deserunt eaque consequuntur?</p>
<hr>


<button type="button"> <a href="https://www.youtube.com/watch?v=ffcitRgiNDs&ab_channel=AdeleVEVO">button</a></button>
<button type="submit">button</button>
<button type="reset">button</button>
<br>
<hr>
<button type="button" autofocus>button</button>
<br>
<hr>
<button type="button" disabled>button</button>
<hr>




</body>
</html>