<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>semantic</title>
</head>
<body>
   <div>Block text</div> 
   <span>Inline text</span>
   
    <header>
        <nav class="container">
            <ul class="header__lists">
                <li class="header__lists-list"><a href="">link</a></li>
                <li class="header__lists-list"><a href="">link</a></li>
                <li class="header__lists-list"><a href="">link</a></li>
                <li class="header__lists-list"><a href="">link</a></li>
                <li class="header__lists-list"><a href="">link</a></li>
            </ul>
        </nav>
    </header>


   <nav></nav>
   <main>
       <section>
           <article></article>
           <article></article>
       </section>

       <section>
           <aside></aside>
       </section>

    </main>


    
   <article></article>

   <aside></aside>

   <footer></footer>



</body>
</html>