<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RASIA</title>
</head>
<body>
    <h1>alochel</h1>
    <h2>alochel</h2>
    <h3>alochel</h3>
    <h4>alochel</h4>
    <h5>alochel</h5>
    <h6>alochel</h6>
    
    <hr>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores, temporibus.
        <address>Kiba2123</address>
    </p>

    <hr>
    <blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur est dolorum facere magni esse eveniet deserunt corporis totam quas suscipit debitis, earum, neque doloremque dolores cum excepturi modi, distinctio placeat nesciunt accusamus veritatis magnam. Nemo illo fugiat laudantium tempore doloribus porro libero sapiente ex fugit?</p>
    </blockquote>
    <hr>


    <hr>
        <time>4.05.2022</time>

    
        <b>bold text</b>

        <i>italic t</i>

        <tt>312</tt>

        <s>2141</s>

        <pre>
            <code>122141294124891298412</code>
        </pre>

        <code>
            hkjsfjkfsjkf
        </code>

        <strong>Bold</strong>

        <em>Italic</em>

        <small>Small</small>

        <big>Big</big>
        <del>del</del>

        <ins>inserted</ins>


        <h4>h<sub>2</sub>o</h4>
        <h4>h<sup>2</sup>0</h4>
        
</body>
</html>